/* Looks like the headings are all acumens pro and Poppins for everything else */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

/* This is to make sure that the page covers the full viewport */
html {
  min-height: 100%;
}

input {
  outline: none;
  border: none;
}

body {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Flex styles */
.flexCenter {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.flexHorizontal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Hidden Styles */
.hideOnSmall {
  display: none;
}

.hidden{
  display: none;
}

/* General Styles */

.yellowBckgrnd {
  background-color: #fbb30f;
}

.blueBckgrnd {
  background-color: #228dd0;
}

.whiteBckgrnd{
  background-color: white;
}

.blackText{
  color: black;
}

.whiteText {
  color: white;
}

.centerFlex {
  display: flex;
}

/* Padding */

.top4EMPadding {
  padding-top: 4em;
}
.top2EMPadding {
  padding-top: 2em;
}
.top1EMPadding {
  padding-top: 1em;
}

.bot4EMPadding {
  padding-bottom: 4em;
}

.bot2p5EMPadding {
  padding-bottom: 2.5em;
}

.bot2EMPadding {
  padding-bottom: 2em;
}

.bot1p5EMPadding {
  padding-bottom: 1.5em;
}

.bot1EMPadding {
  padding-bottom: 1em;
}

.botp5EMPadding {
  padding-bottom: 0.5em;
}

.right1EmPadding{
  padding-right: 1em;
}

/* Margin */

.botp5Margin {
  margin-bottom: 0.5em;
}
.bot2Margin {
  margin-bottom: 2em;
}
.bot4Margin {
  margin-bottom: 4em;
}

.width90 {
  width: 90%;
}

.btn {
  background-color: inherit;
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 2px solid black;
}

.whiteBtn {
  background-color: inherit;
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 2px solid white;
  color: white;
}

/* Landing */
.landing {
  background-image: url("./Pictures/header_home_website.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  color: white;
}



.logo {
  max-width: 100%;
  width: 13em;

}

.showAbso{
  position: absolute;
}

.hideNav {
  display: none;
}

.navHeight{
  height: 100vh;
  width: 100%;
}

.navAboveAll{
  z-index: 20;
}

.headerItem{
  padding: 1em 0;
}

.posiStatic{
  position: static;
}

/* Intro Virtual Section */

.sectionImage {
  max-width: 100%;
  width: 23em;
}

/* Small Groups */
.smallGroups {
  background-color: white;
}

/* Connections */

.connections {
  background-image: url("./Pictures/hands.png");
  background-size: cover;
  color: white;
}

/* Footer */

.inputPadding {
  padding: 1em 2em;
}

/* About Page */
.header {
}

.beliefHeading {
  background-image: url("./Pictures/churchCross1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 65vh;
  object-fit: none;
  max-height: 100%;
  background-position-y: 90%;
  background-position-x: 50%;
}

.headerbox {
  height: 35vh;
  max-height: 100%;
}

.aboveAll {
  /* position: fixed; If this is not included, the stuff breaks */
  top: 0;
}

.logoSlogan {
  width: 80%;
}

/* coreValue */

.coreValue h3{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.coreValue p{
    padding-bottom: 1.5em;
}

/* What We believe */
.whatWeBelieve h3{
    padding-bottom: 1.5em
}
.whatWeBelieve p{
    padding-bottom: 1.5em
}